[submodule "External/glfw"]
	path = External/glfw
	url = https://github.com/glfw/glfw
[submodule "External/VulkanMemoryAllocator"]
	path = External/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "External/D3D12MemoryAllocator"]
	path = External/D3D12MemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/D3D12MemoryAllocator
[submodule "Engine/External/scope_guard"]
	path = External/scope_guard
	url = https://github.com/ricab/scope_guard
[submodule "External/vk-bootstrap"]
	path = External/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "External/volk"]
	path = External/volk
	url = https://github.com/zeux/volk
[submodule "External/stb"]
	path = External/stb
	url = https://github.com/nothings/stb
